<div class="navbar">
    <input type="text" class="search" placeholder="Search parcel here...">
    <div class="flex">
        <h6 style="color: white; justify-content: center;">{{Date| date }} </h6>
        <a class="btn btn-danger" (click)="onLogout()">Logout</a>
    </div>
</div>


<div *ngIf="myParcels$|async as parcels">
    <div class="card2" *ngFor="let parcel of parcels">
        <div class="card2header">  
            <div class="flex"> <h6>From</h6> <h6>parcel:{{parcel.parcelID}}</h6></div> 
            <a class="btn btn-primary">{{parcel.status}}</a>
        </div>
        <h6>Parcel ID:{{parcel.parcelID}}</h6>
        <h6>Sender Email: {{parcel.sender}}</h6>
        <div class="flex" style="justify-content: space-between;"><h6>{{parcel.parcelDescription}}</h6>
            <button (click)="oneParcel(parcel.parcelID)" style="background-color: rgb(0, 255, 0)">View</button>
        </div>
    </div>
</div>


<ng-template>
    You Do not have incoming Parcels right now
</ng-template>
