<div class="navbar">
    <input type="text" class="search" placeholder="Search parcel here...">
    <div class="flex">
        <h6 style="color: white; justify-content: center;">{{Date| date }} </h6>
        <a class="btn btn-danger" (click)="onLogout()">Logout</a>
    </div>
</div>


<div *ngIf="myParcels$|async as parcels">
    <div class="card2" *ngFor="let parcel of parcels">
        <div class="card2header">  
            <div class="flex"> <h6>From: {{parcel.sender}}</h6> <h6>parcel:{{parcel.parcelID}}</h6></div> 
            <div>
                <i
                (click)="deleteParcel(parcel.parcelID)"
                style="font-size: 20px; color: red"
                class="fa-solid fa-trash"
                ></i>&nbsp;
                <a class="btn btn-primary">{{parcel.status}}</a>
            </div>
        </div>
        <h6>Parcel ID:{{parcel.parcelID}}</h6>
        <div class="flex" style="justify-content: space-between;"><h6>Description: {{parcel.parcelDescription}}</h6>
            <button (click)="oneParcel(parcel.parcelID)" class="btn" style="background-color: rgb(0, 255, 0)">View</button>
        </div>
    </div>
</div>


<ng-template>
    You Do not have incoming Parcels right now
</ng-template>
