
<div class="main">
    <div class="formDiv">
        <h2>CREATE ACCOUNT</h2>
        <p *ngIf="created" style="color:rgb(17, 245, 17)">Account created Successfully</p>
        <form [formGroup]="form" (ngSubmit)="onRegister()">
            <div class="form-group">
                <div>
                    <label>Full name</label><br>
                        <input type="text" formControlName="fullName" />  
                    <p style="color: red;" *ngIf="!form.get('fullName')!.valid && form.get('fullName')!.touched">
                        Input valid names
                    </p>
                </div>
                <div>
                    <label>User name</label><br>
                        <input type="text" formControlName="userName" />
                    <p style="color: red;" *ngIf="!form.get('userName')!.valid && form.get('userName')!.touched">
                        Input valid username
                    </p>
                </div>
                <div style="display: flex; gap:0.5vw;">
                    <div>
                        <label>Input Email</label><br>
                        <input style="width:18vw" type="email" formControlName="email"/>
                        <p style="color: red;" *ngIf="!form.get('email')!.valid && form.get('email')!.touched">
                            Input valid email
                        </p>
                    </div>
                    <div>
                        <label>Phone Number</label><br>
                        <input type="number" style="width:11.5vw"  formControlName="phoneNumber" />
                        <p style="color: red;" *ngIf="!form.get('phoneNumber')!.valid && form.get('phoneNumber')!.touched">
                            Invalid <br>Phone number
                        </p>
                    </div>
                </div>
                <div>
                    <label>Location</label><br>
                        <input type="text" formControlName="location" />
                    <p style="color: red;" *ngIf="!form.get('location')!.valid && form.get('location')!.touched">
                        Input valid location
                    </p>
                </div>
                <div>

                </div>
                <div>
                    <label>Password</label><br>
                        <input type="password" formControlName="password" />
                    <p style="color: red;" *ngIf="!form.get('password')!.valid && form.get('password')!.touched">
                        Must be at least 8 characters long
                    </p>

                </div><br>
                <div>
                    <button type="submit" class="btn btn-primary" [disabled]="form.invalid">SUBMIT</button>
                </div>
            </div>
        </form>
    </div>
    <div>
        <img src="https://media.istockphoto.com/photos/drone-carrying-parcel-picture-id534481102?b=1&k=20&m=534481102&s=170667a&w=0&h=6kXycaf2yYJ0v1B2Dw4DFixz-zky2_5z_9vLKFvvgz0=" alt="">
    </div>
</div>
