
<div class="main">
    <div class="formDiv">
        <h2>CREATE ACCOUNT</h2>
        <div class="alert alert-success" style="color: rgb(2, 82, 2);" *ngIf="success">{{success}}</div>
        <div *ngIf="untouched" style="color:red">All fields must be filled</div>
        <div class="alert alert-danger" *ngIf="error">{{error}}</div> 
        <form [formGroup]="form" (ngSubmit)="onRegister()">
            <div class="form-group">
                <div>
                    <label>Full name</label><br>
                        <input type="text" formControlName="fullName" /><br/>  
                    <small style="color: red;" *ngIf="!form.get('fullName')!.valid && form.get('fullName')!.touched">
                        Input valid names
                    </small>
                </div>
                <div>
                    <label>User name</label><br>
                        <input type="text" formControlName="userName" /><br/>
                    <small style="color: red;" *ngIf="!form.get('userName')!.valid && form.get('userName')!.touched">
                        Input valid username
                    </small>
                </div>
                <div style="display: flex; gap:0.5vw;">
                    <div>
                        <label>Input Email</label><br>
                        <input type="email" formControlName="email"/><br/>
                        <small style="color: red;" *ngIf="!form.get('email')!.valid && form.get('email')!.touched">
                            Input valid email
                        </small>

                    </div>
                </div>
                <div>
                    <label>Phone Number</label><br>
                    <input type="number"  formControlName="phoneNumber" /><br/>
                    <small style="color: red;" *ngIf="!form.get('phoneNumber')!.valid && form.get('phoneNumber')!.touched">
                        Invalid Phone number
                    </small>
                </div>

                <div>
                    <label>Password</label><br>
                        <input type="password" formControlName="password" /><br/>
                    <small style="color: red;" *ngIf="!form.get('password')!.valid && form.get('password')!.touched">
                        Must be at least 8 characters long
                    </small>

                </div><br>
                <div>
                    <button type="submit" class="btn btn-primary">SUBMIT</button>
                </div>
            </div>
        </form>
    </div>
    <div>
        <img src="https://media.istockphoto.com/photos/drone-carrying-parcel-picture-id534481102?b=1&k=20&m=534481102&s=170667a&w=0&h=6kXycaf2yYJ0v1B2Dw4DFixz-zky2_5z_9vLKFvvgz0=" alt="">
    </div>
</div>
