
.dashboard{
    background-color: #191341;
    width:15vw;
    color:white;
    height:100vh; 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* position:fixed */
}
.options{
    background-color: #0A0A2E;
    padding:10px;
}
li{
    list-style-type:none;
    cursor:pointer;
    padding:10px;
}
li:hover{
    background-color: rgb(32, 142, 175);
    border-radius: 5px;
}

@media screen and (max-width:935px) {
   .dashboard{
    display: flex;
    flex-wrap: wrap;
    width:100vw;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 14vh;
    position:fixed;
   } 
   h4{
    font-size: 15px;
   }

   .options{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #0A0A2E;
    padding:0px;
    gap:5px;
    flex-wrap: wrap;
    align-items: center;
    font-size: 15px;
}
li{
    list-style-type:none;
    cursor:pointer;
    padding:5px;
    
}
li:hover{
    background-color: rgb(32, 142, 175);
    border-radius: 2px;
}
.welcome,h3{
    display: none;
    width:0;
}
.btn{
    padding: 3px;
    margin:3px;
}
.fa-solid{
    display: none;
}

}