<div class="navbar">
  <div class="heading"><h2>MORE...</h2></div>
  <div class="flex">
    <h6 style="color: white; justify-content: center">{{ Date | date }}</h6>
    <a class="btn btn-danger" (click)="onLogout()">Logout</a>
  </div>
</div>
<div class="update">
  <div class="parcelDetails" *ngIf="oneParcel$ | async as parcel3">
    <h2>PARCEL DESCRIPTION</h2>
    <div *ngFor="let parcel of parcel3" class="card">
      <table>
        <tr>
          <th>Parcel ID</th>
          <td>{{ parcel.parcelID }}</td>
        </tr>
        <tr>
          <th>Sender</th>
          <td>{{ parcel.sender }}</td>
        </tr>
        <tr>
          <th>Receiver</th>
          <td>{{ parcel.receiverEmail }}</td>
        </tr>
        <tr>
          <th>Receiver Location</th>
          <td>{{ parcel.receiverLocation }}</td>
        </tr>
        <tr>
          <th>Receiver Phone</th>
          <td>{{ parcel.receiverPhone }}</td>
        </tr>
        <tr>
          <th>Parcel Weight</th>
          <td>{{ parcel.parcelWeight }}</td>
        </tr>
        <tr>
          <th>Parcel Price</th>
          <td>{{ parcel.price }}</td>
        </tr>
        <tr>
          <th>Parcel Description</th>
          <td>{{ parcel.parcelDescription }}</td>
        </tr>
        <tr>
          <th>Delivery Date</th>
          <td>{{ parcel.deliveryDate }}</td>
        </tr>
      </table>
      <div class="updateStatus" *ngIf="parcel.status!='Delivered'">
        <h3>Update Status</h3>
        <form class="form" [formGroup]="form" (ngSubmit)="updateStatus()">
          <div class="status">
            <label for="">Status</label><br />
            <select formControlName="status">
              <option>Awaiting Pick-up</option>
              <option>Delivered</option>
              <p></p></select
            >&nbsp;
            <button class="btn btn-danger">Update Status</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="maps">
    <h3 style="padding-left: 20px">Navigation</h3>
    <div id="map">
      <google-map
        height="82vh"
        width="39vw;"
        [center]="center"
        [zoom]="zoom"
        (mapClick)="moveMap($event)"
        (mapMousemove)="move($event)"
      >
        <map-marker
          #marker="mapMarker"
          *ngFor="let markerPosition of markerPositions"
          [position]="markerPosition"
          (mapClick)="openInfoWindow(marker)"
        >
        </map-marker>
        <map-info-window>Info Window content</map-info-window>
      </google-map>

      <!-- <div>Latitude: {{ display?.lat }} Longitude: {{ display?.lng }}</div> -->
    </div>
  </div>
</div>
