.navbar{
    display:flex;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #0A0A2E;
    position: fixed;
    width:100vw ;
}
.navbar div{
    display: flex;
    gap:40px;
}
a{
    text-decoration: none;
    color: white;
    padding: 3px;
}
a:hover{
    color: white ;
    text-underline-offset:inherit;
    border-radius: 5px;
    border:white solid 2px
}
h1{
    color: rgb(20, 219, 20);
}