<div class="navbar">
    <div>
        <h1>SendIT</h1>
    </div>
    <div>
        <a navStyler [color]="'white'" [backgroundColor]="'#0A0A2E'" href="/home#homepage">Home</a>
        <a navStyler [color]="'white'" [backgroundColor]="'#0A0A2E'" href="/home#services">Services</a>
        <a navStyler [color]="'white'" [backgroundColor]="'#0A0A2E'" href="/home#about">About Us</a>
        <a navStyler [color]="'white'" [backgroundColor]="'#0A0A2E'" href="/home#contact">Support</a>
    </div>
    <div>
        <button class="btn btn-primary" routerLink="/login">Login</button>
        <button class="btn btn-primary" routerLink="/register">Get Started</button>
    </div>
    
</div>
<router-outlet></router-outlet>