.homepage{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    background-image: url("https://static9.depositphotos.com/1364641/1127/i/450/depositphotos_11279506-stock-photo-types-of-transport-of-transporting.jpg");
    height: 100vh;
    background-position: center center;
    /* background-repeat: no-repeat; */
    background-size: cover;
}
.mask{
    text-align: center;
    width:100vw;
    height:100vh;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 170px 30px;
}

h1{
    font-size: 60px;
    color:black;
}
.card{
    padding: 20px;
}

#services, #about, #contact{
    /* background-color: #191341; */
    padding-top: 60px;
    background-color: white;
}
.services-container, .about-container, .contact-container{
    padding:5px 20px;
    color: black;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
}
.dispServices{
    padding: 20px;
    text-align: center;
    color: white;
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    justify-content: center;
    gap:10px;
}
.cards{
    background-color: white;
    padding:20px;
    color:black;
    border-radius: 10px;
    border: solid 1px #191341;
}
.cards2{
    background-color: white;
    color:black;
    border-radius: 5px;
    border-radius: 10px;
}
.btn{
    width:20vw;
}

.contactus{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color: white;
    color: black;
}
#about{
    padding: 80px 20px;

}
.flex{
    justify-content: center;
    padding: 20px;
    flex-wrap: wrap;
}

a{
    text-decoration: none;
}
.footer{
    display: flex;
    flex-wrap: wrap;
    gap:100px;
}
