<div class="navbar">
    <input type="text" class="search" placeholder="Search Client here..." [(ngModel)]="filter">
    <div class="flex">
        <h6 style="color: white; justify-content: center;">{{Date| date }} </h6>
        <a class="btn btn-danger" (click)="onLogout()">Logout</a>
    </div>
</div>

<div class="tableDiv">
    <table class="table" *ngIf="users$ | async as users">
        <thead>
            <tr>
                <th scope="col">Client ID</th>
                <th scope="col">Full Name</th>
                <th scope="col">Email</th>
                <th scope="col">Phone Number</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let user of users | search:filter | paginate :{itemsPerPage:5,currentPage:pageNumber};">
                <td scope="col">{{user.clientID}}</td>
                <td scope="col">{{user.fullName}}</td>
                <td scope="col">{{user.email}}</td>
                <td scope="col">{{user.phoneNumber}}</td>
            </tr>
        </tbody>
    </table>
    <pagination-controls (pageChange)="pageNumber = $event"></pagination-controls>
</div>