.navbar{
    background-color: #191341;
    width: 83.0vw;
    display: flex;
    align-items: center;
    margin-left: 0.5vw;
}
.flex{
    display: flex;
    align-items: center;
    margin-right: 15px;
    gap:20px;
}
.search{
    margin-left: 1vw;
    width:23vw;
}
.tableDiv{
    padding:20px;
    margin-left: 0.5vw;
}

@media screen and (max-width:935px) {
   .hidethis,h6{
    display: none;
   }
    .tableDiv{
        padding:0px;
        margin-top:22.5vh;
        margin-left: 0.5vw;
    }
    .search{
        margin-left: 1vw;
        width:50vw;
    }
    .navbar{
        background-color: #191341;
        width: 100.0vw;
        display: flex;
        align-items: center;
        margin-top: 14vh;
        margin-left: 0;
        position: fixed;
    }
    .tableDiv{
        padding:5px;
        margin-left:0vw;
    }

}