<div class="mainpage"> 
    <div>
      <div class="header">
        <h2>General Information</h2>
        <a class="btn btn-danger" routerLink="/user/received">Close</a>
      </div>
      <div class="body">

        <form [formGroup]="form" >
          <p *ngIf="filled" style="color:green;">User profile updated successfully</p>
          <p *ngIf="error"  style="color:red;">Password must be atleast 8 characters</p>
          <div>
            <div>
              <label for="">Full names</label><br>
              <input type="text" formControlName="fullName"><br>
              <p></p>
            </div>
            <div>
              <label for="">Email</label><br>
              <input type="email" formControlName="email" readonly><br>
              <p></p>
            </div>
            <div>
              <label for="">User name</label><br>
              <input type="text" formControlName="userName" readonly><br>
              <p></p>
            </div>
          </div> 
          <div>
            <label for="">Password</label><br>
            <input type="text" formControlName="password"><br>
            <p></p>
          </div>
          <div>
            <label for="">Phone number</label><br>
            <input type="number" formControlName="phoneNumber"><br>
            <p></p>
          </div>
          <button class="btn btn-success" (click)="updateUser()" [disabled]="form.invalid">Save</button>
        </form>
  
        <div *ngFor="let user of user">
          <div  class="profilepic bg-image shadow-2-strong">
            <i style="font-size: 100px; color:white;" class="fa-solid fa-user"></i>
            <h2>Admin</h2>
          </div>
          
          <div>Username:{{user.userName}}</div>
          <div>Email:{{user.email}}</div>
          <div>Phone number:{{user.phoneNumber}}</div>
          <div>Full name:{{user.fullName}}</div>
  
        </div>
      </div>
    </div>
  </div>
  
