<div class="navbar">
    <input type="text" class="search" placeholder="Search parcel here...">
    <div class="flex">
        <h6 style="color: white; justify-content: center;">{{Date| date }} </h6>
        <a class="btn btn-danger" (click)="onLogout()">Logout</a>
    </div>
</div>

<div *ngIf="myParcels$|async as parcels">
    <div class="card2" *ngFor="let parcel of parcels">
        <div class="card2header">  
            <div class="flex"><h6>To: {{parcel.receiverEmail}}</h6></div> 
            <div>
                <i
                (click)="deleteParcel(parcel.parcelID)"
                style="font-size: 20px; color: red"
                class="fa-solid fa-trash"
                ></i>&nbsp;
                <a class="btn btn-primary">{{parcel.status}}</a>
            </div>
        </div>
        <h6>Parcel ID:{{parcel.parcelID}}</h6>
        <div class="flex" style="justify-content: space-between;"><h6>Description: {{parcel.parcelDescription}}</h6>
            <button class="btn" (click)="oneParcel(parcel.parcelID)" style="background-color: rgb(0, 255, 0)">View</button>
        </div>
    </div>
    <div *ngIf="parcels.length == 0">
        <h3 style="padding-left: 25px;">No Outgoing Parcels right now</h3> <br/>
        <div class="emptyParcel">
            <img src="https://media.istockphoto.com/photos/subscription-concept-yellow-notification-bell-and-number-0-on-pink-picture-id1365378135?k=20&m=1365378135&s=612x612&w=0&h=9efuIX1OowB1rpC4UqYKTAJiiuxBEdmhe6dYa7NmDc4=" alt="">
        </div> 
    </div>
</div>