<div class="navbar">
  <input
    type="text"
    class="search"
    placeholder="Search by ID..."
    [(ngModel)]="filter"
  />
  <div class="flex">
    <h6 style="color: white; justify-content: center">{{ Date | date }}</h6>
    <a class="btn btn-danger" (click)="onLogout()">Logout</a>
  </div>
</div>

<div class="flex options">
  <div class="card card-header" (click)="filterStatus('')">All Parcels</div>
  <div class="card card-header" (click)="filterStatus('In Transit')">
    In Transit
  </div>
  <div class="card card-header" (click)="filterStatus('Awaiting Pick-up')">
    Awaiting Pickup
  </div>
  <div class="card card-header" (click)="filterStatus('Delivered')">
    Delivered
  </div>
</div>
<div class="body-container">
  <div class="displaysection" *ngIf="parcels2$ | async as parcels2">
    <div
      class="card2"
      *ngFor="let parcel of parcels2 | searchparcel: filter; let i = index"
    >
      <div class="card2header">
        <div class="flex">To:{{ parcel.receiverEmail }}</div>
        <div>
          <i
            (click)="deleteParcel(parcel.parcelID)"
            style="font-size: 20px; color: red"
            class="fa-solid fa-trash"
          ></i>
          &nbsp;
          <a class="btn btn-primary">{{ parcel.status }}</a>
        </div>
      </div>
      <h6>Parcel ID:{{ parcel.parcelID }}</h6>
      <div class="flex" style="justify-content: space-between">
        <h6>Phone Number: {{ parcel.receiverPhone }}</h6>
        <div>
          <i
            routerLink="/admin/update/{{ parcel.parcelID }}"
            style="font-size: 20px; color: rgb(0, 255, 0)"
            class="fa-solid fa-pen-to-square"
          ></i
          >&nbsp;
          <button class="btn" (click)="oneParcel(parcel.parcelID)" style="background-color: rgb(0, 255, 0)">
            View
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
