.navbar{
    background-color: #191341;
    width: 84.5vw;
    display: flex;
    align-items: center;
    padding-right: 0.5vw; 
    position: fixed;
}
.top{
    background-color: white;
    width:84.5vw;
    height:17vh;
    position: fixed;
    margin-left: 0.5vw;
}
.flex{
    display: flex;
    align-items: center;
    margin-right: 15px;
    gap:20px;
}
.search{
    margin-left: 1vw;
    width:23vw;
}
.card{
    width:15vw;
    background-color: #191341;
    color:white;
    border-radius: 5px;
    text-align: center;

}
.status{
    background-color:  #191341;
}
.card2{
    background-color: #191341;
    color:white;
    border-radius: 5px;
    width:41vw;
    margin-top: 0.5vw;
    margin-left: 0.5vw;
    padding-left:20px;
    padding-bottom:10px;
    cursor: pointer;
    box-shadow: #2c2174 3px 3px;
    
}
.body-container{
    margin-top:16.4vh;
    margin-left: 0vw;
}
.card2header{
    display: flex;
    justify-content: space-between;
    text-align: center;
    padding-right:20px;
    padding-top:10px;
}
.options{
    position: fixed;
    margin-top: 1vw;
    margin-left: 0.5vw;
    top: 8vh;
    margin-left:9.5vw;
    cursor: pointer;
}
.options div:hover{
    background-color: rgb(32, 142, 175);
}
.update{
    position: fixed;
    right: 5px;
    background-color: #191341;
    color:white;
    
}
.displaysection{
    display: flex;
    flex-wrap: wrap;
    max-height: 80vh;
    overflow: auto;
}
.maps,#map{
    width:40vw;
    max-height: 45vh;
}
.mapDisplay{
    width:40vw;
    max-height: 45vh;
}
.form{
    padding:20px;
}
.updateStatus{
    height: 38vh;
    padding:30px;
    background-color:  #191341;
}
.emptyParcel{
    width:84.5vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.diffColor{
    background-color: green;
}
@media screen and (max-width:935px) {
    .navbar{
        background-color: #191341;
        width: 98vw;
        display: flex;
        align-items: center;
        
    }
    .options{
        display: flex;
        justify-content: center;
        align-items: center;
        gap:3px;
        margin-top:15.4vh;
        flex-wrap: wrap;
    }
    .top{

        width:100vw;
        min-height:17vh;
        position: fixed;

        margin-top: 14vh;
    }
    .options div{
        width:19.5vw;
        font-size:13px;
        
    }
    .body-container{
        margin-top:31.7vh;
        margin-left: 0vw;
    }
    .card-header{
        display: flex;
        padding:2px;
        width:20vw;
        background-color: rgb(32, 142, 175);
        color:white;
        border-radius: 5px;
        text-align: center; 
        flex-wrap: wrap;
        height: 50px;
    }
    .card2,.card2 div{
        display: flex;
        flex-wrap: wrap;
        margin-left: 0.5vw;
        justify-content:space-between;
    }
    .card2{
        width:98vw;
        flex-direction:column;
    }
    h6{
        display:none;
    }
    .search{
        margin-left: 1vw;
        width:45vw;
    }
    .emptyParcel{
        width:100vw;
        height: 45vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    img{
        height:40vh;
    }
}