<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SendIT</title>
</head>
<body>
    <table>
        <tr>
            <th>PARCEL AWAITING PICK-UP</th>
        </tr>
        <tr>
            <td>
            <p>
                Parcel ID: <%=parcel%>
            </p>
            <p>
              <img src="" alt="">  
            </p>
            <p> 
                Your parcel has reached its pick-up point. This email is a request that you come pick up the parcel. <br>
                Thank you for choosing Us, <br>
                Refer friends and earn bonuses worth shipments from anywhere across the globe.<br>
                <p>Thank you</p>
            </p>
            </td>
        </tr>
    </table>
</body>
</html>