<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SendIT</title>
</head>
<body>
    <table>
        <tr>
            <th>PARCEL ORDER CREATED</th>
        </tr>
        <tr>
            <td>
            <p>
                Parcel ID: <%=parcel%>
            </p>
            <p>
              <img src="" alt="">  
            </p>
            <p>
                Your parcel has been created. You will receive emails informing you about the status of your parcel. Your parcels are safe with us. <br>
                Thank you for choosing Us.<br>
                <p>Thank you</p>
            </p>
            </td>
        </tr>
    </table>
</body>
</html>