<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SendIT</title>
</head>
<body>
    <table>
        <tr>
            <th>WELCOME ONBOARD</th>
        </tr>
        <tr>
            <td>
            <p>
                Hi <%=name%>
            </p>
            <p>
              <img src="https://media.istockphoto.com/photos/smart-warehouse-management-system-with-innovative-internet-of-things-picture-id1359263600?b=1&k=20&m=1359263600&s=170667a&w=0&h=122xCFZgfOFPbYORRr0m2lMHXcab9MjNyR3QLzxVEeM=" alt="">  
            </p>
            <p>
                Thank you for signing up with SendIT Courier<br>
                We really appreciate you for your readiness to be part of us. 
                We really value your privacy, dont share your passwords with anyone.
                Welcome onboard. Sign in to enjoy the greatness of our services<br>
                <p>Thank you</p>
            </p>
            </td>
        </tr>
    </table>
</body>
</html>